@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

footer{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: var(--blueHover);
    position: absolute;
    bottom: 0;


    h1{
        font-size: 1.8rem;
        font-weight: 100;
        font-family: 'Dancing Script', cursive;
        color: #fff;
        span,a{
            font-family: 'Dancing Script', cursive;
            font-weight: bolder;
            font-size: 2rem;
            color: #fff;
            transition: all .2s ease-in;
            &:first-child{
                margin-right: 1rem;
            }
        }
        a:hover{
            color: red;
        }
    }
}