main{
    width: 100%;
    // height: 150rem;
    // border: 1px solid #000;
    
    .row-1{
        position: relative;
        z-index: 20;
        
        .headline{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 1.7rem;
            user-select: none;
            background: var(--row1Bg);

            a{
                display: block;
                text-align: center;
                border-bottom: none;
                padding: .5rem 1rem;
                font-weight: 600;
                color: #fff;
                z-index: 2;
                cursor: help;
            }
        }

        .box{
            width: 35rem;
            font-size: 1.5rem;
            padding: .8rem 1rem;
            text-align: center;
            position: absolute;
            display: none;
            background: rgb(250, 249, 249);
            color: rgb(0, 0, 0);
            box-shadow: 0 0 10px rgba(0, 0, 0, .7);
            top: 5.5rem;
            z-index: 20;

            &:before{
                content: '';
                width: 2rem;
                height: 2rem;
                position: absolute;
                top: -1rem;
                left: 50%;
                background: rgb(250, 249, 249);
                transform: translate(-50%) rotate(45deg);
            }

            &.box-1{
                left: 16.5rem;
            }
            &.box-2{
                left: 55.5rem;
            }
        }
    }

    .row-2{
        margin-top: -3rem;
        padding: 12rem 0 .7rem;
        position: relative;

        .background{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            clip-path: ellipse(58% 40% at 50% 20%);
            background: url(../images/nbg.jpeg) center no-repeat;
            background-position-y: 9%;
            background-size: 100%;
            z-index: 1;

            &::before{
                content: "";
                background: rgba(0, 0, 0, 0.15);
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                right: 0;
            }

        }

        .top{

            ul{
                width: 50%;
                margin: 0 auto;
                display: flex;
                justify-content: space-evenly;
                user-select: none;
                overflow-x: auto;
            
                li{
                    width: 100%;
                    text-align: center;
                    padding: 1rem 0rem;
                    font-size: 1.9rem;
                    z-index: 2;
                    cursor: pointer;
                    color: rgb(255, 255, 255);
                    font-weight: 600;

                    i{
                        margin-right: .6rem;
                    }
                }
            }
        }

        .bottom{
            width: 60%;
            height: 14rem;
            margin: 0 auto;
            position: relative;
            
            .tab{
                height: 100%;
                width: 100%;
                position: absolute;
                visibility: hidden;
                padding: 3rem;
                box-shadow: 2px 3px 5px rgba(0, 0, 0, .1),
                            -2px -5px 5px rgba(0, 0, 0, .1);
                z-index: 2;
                border-radius: .1rem;
                background: rgb(255, 255, 255);

                .innerTab{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    position: relative;
                    border: 1px solid rgba(0, 0, 0, 0.26);

                    .details{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        border-right: 1px solid rgba(0, 0, 0, 0.26);
                        
                        label{
                            display: block;
                            padding: 1.3rem 1rem 0;
                            font-size: 1.6rem;
                            color: var(--gray);
                        }
                        input,select{
                            width: 100%;
                            height: 100%;
                            padding: 0 1rem 1rem;
                            font-size: 1.6rem;
                            border: none;
                            border-bottom: 2px solid #fff;
                            outline: none;
                            cursor: pointer;
                            font-weight: 700;
                            color: rgb(69, 66, 85);
                            background: #fff;

                            &:focus{
                                border-bottom: 2px solid var(--blue);
                            }
                        }
                        input[type="date"]{
                            font-size: 1.8rem;
                        }

                        &.hotel-1{
                            width: 80%;
                        }
                        &.hotel-2{
                            flex-direction: row;
                            .date3{
                                display: flex;
                                flex-direction: column;
                                &:nth-child(2){
                                    width: 6rem;
                                    color: var(--gray);
                                    justify-content: center;
                                    align-items: center;  
                                }
                            }
                        }
                        &.hotel-3{
                            width: 80%;
                            position: relative;

                            .fa-chevron-down{
                                position: absolute;
                                top: 50%;
                                right: 5%;
                                font-size: 1.5rem;
                                color: var(--gray);
                                transition: all .2s ease-in;
                            }

                            .roomCountMainDiv{
                                width: 23rem;
                                position: absolute;
                                top: 100%;
                                font-size: 1.8rem;
                                background: #fff;
                                display: none;
                                box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
                                
                                .roomCount{
                                    display: flex;
                                    p{
                                        width: 100%;
                                        display: block;
                                        padding: .8rem;
                                        &:last-child{
                                            display: flex;
                                            justify-content: space-evenly;
                                            i{
                                                color: var(--gray);
                                                font-size: 2rem;
                                                transition: all .1s ease;
                                                cursor: pointer;
                                                &:hover{
                                                    color: var(--blue);
                                                }
                                            }
                                        }
                                    }
                                    &:last-child{
                                        justify-content: flex-end;
                                        padding-right: 2rem;
                                        span{
                                            padding: 1rem;
                                            color: var(--blue);
                                            cursor: pointer;
                                            font-weight: 900;
                                        }
                                    }
                                }
                            }
                        }

                        &.flight-1{
                            flex-direction: row;
                            .fLocation{
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                            }
                        }
                        &.flight-2{
                            width: 20%;
                        }
                        &.flight-3{
                            width: 50%;
                            .f32{
                                height: 100%;
                                display: flex;
                                border-bottom: 2px solid #fff;
                                &:hover{
                                    border-bottom: 2px solid var(--blue);
                                    }
                                p{
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    padding-left: 1.5rem;
                                    align-items: center;
                                    font-size: 1.8rem;
                                    font-weight: 700;
                                        color: rgb(69, 66, 85);

                                    &:nth-child(2){
                                        justify-content: space-evenly;
                                        padding-left: none;
                                        
                                        i{
                                            color: var(--gray);
                                            font-size: 2rem;
                                            transition: all .1s ease;
                                            cursor: pointer;
                                            &:hover{
                                                color: var(--blue);
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.train-1{
                            flex-direction: row;
                            .tLocation{
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                            }
                        }
                        &.train-2{
                            width: 20%;
                        }
                        &.train-3{
                            width: 50%;
                            .f32{
                                height: 100%;
                                display: flex;
                                border-bottom: 2px solid #fff;
                                &:hover{
                                    border-bottom: 2px solid var(--blue);
                                    }
                                p{
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    padding-left: 1.5rem;
                                    align-items: center;
                                    font-size: 1.8rem;
                                    font-weight: 700;
                                        color: rgb(69, 66, 85);

                                    &:nth-child(2){
                                        justify-content: space-evenly;
                                        padding-left: none;
                                        
                                        i{
                                            color: var(--gray);
                                            font-size: 2rem;
                                            transition: all .1s ease;
                                            cursor: pointer;
                                            &:hover{
                                                color: var(--blue);
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.bus-1{
                            flex-direction: row;
                            .bLocation{
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                            }
                        }
                        &.bus-2{
                            width: 20%;
                        }
                        &.bus-3{
                            width: 50%;
                            .f32{
                                height: 100%;
                                display: flex;
                                border-bottom: 2px solid #fff;
                                &:hover{
                                    border-bottom: 2px solid var(--blue);
                                    }
                                p{
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    padding-left: 1.5rem;
                                    align-items: center;
                                    font-size: 1.8rem;
                                    font-weight: 700;
                                        color: rgb(69, 66, 85);

                                    &:nth-child(2){
                                        justify-content: space-evenly;
                                        padding-left: none;
                                        
                                        i{
                                            color: var(--gray);
                                            font-size: 2rem;
                                            transition: all .1s ease;
                                            cursor: pointer;
                                            &:hover{
                                                color: var(--blue);
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.car-1{
                            flex-direction: row;
                            .cLocation{
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                            }
                        }
                        &.car-2{
                            width: 20%;
                        }
                        &.car-3{
                            width: 50%;
                            .f32{
                                height: 100%;
                                display: flex;
                                border-bottom: 2px solid #fff;
                                &:hover{
                                    border-bottom: 2px solid var(--blue);
                                    }
                                p{
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    padding-left: 1.5rem;
                                    align-items: center;
                                    font-size: 1.8rem;
                                    font-weight: 700;
                                        color: rgb(69, 66, 85);

                                    &:nth-child(2){
                                        justify-content: space-evenly;
                                        padding-left: none;
                                        
                                        i{
                                            color: var(--gray);
                                            font-size: 2rem;
                                            transition: all .1s ease;
                                            cursor: pointer;
                                            &:hover{
                                                color: var(--blue);
                                            }
                                        }
                                    }
                                }
                            }
                        }



                    }
                    .details:last-child{
                        width: 100px;
                        padding: 0 5rem;
                        border-right: none;
                        position: relative;
                        cursor: pointer;
                        background: var(--blue);
                        transition: all .2s ease-in;

                        i{
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%,-50%);
                            color: #fff;
                            font-size: 3rem;
                        }

                        &:hover{
                            background: var(--blueHover);
                        }
                    }
                }
            }
        }
    }

    .row-3{
        margin-top: 1.5rem;

        .blogHeading{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 8rem;
            user-select: none;
            
            .blogH-1{
                position: relative;

                .aniBar{
                    width: 30%;
                    height: 3px;
                    background: var(--blue);
                    position: absolute;
                    bottom: 0;
                    left: 4.5%;
                    transition: all .4s ease-in;
                }
                span{
                    display: inline-block;
                    font-size: 2.2rem;
                    padding: 1rem;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
            .blogH-2{
                background: var(--blue);
                border-radius: .5rem;
                transition: all .2s ease-in;
                
                a{
                    display: inline-block;
                    font-size: 2rem;
                    padding: .5rem 1rem;
                    color: #fff;
                    font-weight: 800;
                    cursor: pointer;

                    i{
                        font-size: 2.2rem;
                        margin-right: .4rem;
                    }
                }
                
                &:hover{
                    background: var(--blueHover);
                }
            }
        }

        .blogMainContainer{
            position: relative;
            overflow-x: hidden;

            .blogContainer{
                width: 100%;
                min-height: 30rem;
                position: relative;
                transition: all .4s ease-in;
                visibility: hidden;
                padding: 3rem 0rem 0rem;

                .innerBlogContainer{
                    width: 90.5%;
                    margin: 0 auto;
                    display: grid;
                    grid-template-columns: repeat(3, minmax(40rem,1fr));
                    grid-template-rows: repeat(2, 35rem);
                    grid-column-gap: 9rem;
                    grid-row-gap: 5rem;
                    
                    .blog{
                        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
                        position: relative;
                        display: block;
                        top: 0;
                        color: #000;
                        cursor: pointer;
                        transition: all .1s;
                        
                        &:hover{
                            top: -10px;
                        }
    
                        .blogImg{
                            height: 70%;
                            overflow: hidden;
    
                            img{
                                width: 100%;
                                transition: all 1s;
                                &:hover{
                                    transform: scale(1.1);
                                }
                            }
                        }
    
                        .blogData{
                            height: 30%;
                            display: grid;
                            grid-template-columns: repeat(3,1fr);
                            grid-template-rows: repeat(3,1fr);
                            overflow: hidden;
    
                            h1{
                                grid-column: 1 / 4;
                                grid-row: 1 / 2;
                                display: block;
                                padding: .8rem 1rem 0;
                                font-size: 2.6rem;
    
                                span{
                                    float: right;
                                    font-size: 1.7rem;
                                    padding: .5rem;
                                    color: rgb(73, 73, 73);
                                }
                            }
                            p{
                                grid-column: 1 / 3;
                                grid-row: 2 / 4;
                                display: block;
                                padding: .5rem 1rem;
                                color: rgb(73, 73, 73);
                            }
                            div{
                                grid-column: 3 / 4;
                                grid-row: 2 / 4;
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                padding-right: 1rem;
    
                                span{
                                    padding-right:.8rem;
                                }
                                img{
                                    width: 4rem;
                                    height: 5rem;
                                    border-radius: 50%;
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                }

                .moreBtn{
                    display: block;
                    font-size: 1.9rem;
                    padding: 3rem 0 1rem;
                    text-align: center;
                    font-weight: 900;

                    a{
                        color: var(--blue);
                        padding: 1rem;

                        i{
                            width: 2.5rem;
                            height: 2.5rem;
                            border-radius: 50%;
                            padding-top: .2rem;
                            font-size: 2rem;
                            transition: all .3s;
                        }
                        &:hover i{
                            color: #fff;
                            background: var(--blue);
                        }
                    }

                    
                    
                }
            }

            .blog-1{
                left: 0%;
            }
            .blog-2{
                position: absolute;
                top: 0%;
                left: -100%;
            }
        }
    }






    .row-33{
        // margin-top: .5rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);

        .owl-carousel{
            .item{
                height: 25rem; /*FIXME:*/
                overflow: hidden;
                position: relative;

                img{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                }

                &.item1{
                    img{
                        width: 101%;
                        height: 250%;
                        bottom: -80%;
                        left: -2px;
                        transform: rotate(.5deg);
                    }
                }
                &.item3{
                    img{
                        height: 170%;
                        top: -15%;
                    }
                }
                &.item4{
                    img{
                        height: 150%;
                        top: -32%;
                    }
                }
            }
            .owl-dots{
                position: absolute;
                bottom: 0;
                width:100%;
                /* border: 1px solid #000; */
            }
        }
    }
}