@import './global';
@import './header';
@import './login';
@import './footer';

.main-container{
    background: rgba(212, 212, 212,.9);
}
main{

    .main{
        width: 80%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 3px solid #fff;

        .row{
            height: 10rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-bottom: 3px solid #fff;

            h1{
                color: rgb(100, 94, 94);
            }
            span{
                font-size: 3rem;
                color: var(--darkBlue);
                font-weight: 900;
            }

            &.row4{
                border-bottom: none;
                form{
                    width: 100%;
                    height: 100%;

                    input{
                        width: 100%;
                        height: 100%;
                        border: none;
                        outline: none;
                        font-size: 3rem;
                        font-weight: 600;
                        background: var(--blue);
                        font-family: 'East Sea Dokdo', cursive;
                        transition: all .5s ease-in;
                        cursor: pointer;

                        &:hover{
                            background: var(--blueHover);
                        }
                    }
                }
            }
        }
    }
}